<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LPTCtrl.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LPTCtrl.Service.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>User=SYSDBA;Password=masterkey;Database=LPTCTRL;DataSource=localhost;Dialect=3</value>
            </setting>
        </LPTCtrl.Service.Properties.Settings>
    </applicationSettings>
</configuration>