<?xml version="1.0" encoding="utf-8" ?>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LPTCtrl.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="dialect">NHibernate.Dialect.FirebirdDialect</property>
			<property name="connection.driver_class">NHibernate.Driver.FirebirdClientDriver</property>
			<property name="connection.connection_string">User=SYSDBA;Password=masterkey;Database=LPTCTRL;DataSource=localhost;Dialect=3;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50</property>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="use_outer_join">true</property>
			<property name="command_timeout">60</property>
			<property name="query.substitutions">true 1, false 0, yes 1, no 0</property>
			<property name="show_sql">true</property>
		</session-factory>
	</hibernate-configuration>
	
	<log4net debug="false">
		<!-- Define some output appenders -->
		<appender name="Trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<appender name="Console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
			</layout>
		</appender>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="false" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
			</layout>
		</appender>

		<!-- Setup the root category, add the appenders and set the default priority -->
		<root>
			<priority value="DEBUG" />
			<appender-ref ref="RollingFile" />
		</root>

		<logger name="NHibernate">
			<level value="DEBUG" />
		</logger>
		<logger name="NHibernate.SQL">
			<level value="DEBUG" />
		</logger>
	</log4net>
	<userSettings>
		<LPTCtrl.Service.Properties.Settings>
			<setting name="WebAppPath" serializeAs="String">
				<value>X:\projects\lptctrl-2.0\LPTCtrl.Web</value>
			</setting>
			<setting name="EventPoolingInterval" serializeAs="String">
				<value>5</value>
			</setting>
		</LPTCtrl.Service.Properties.Settings>
	</userSettings>
</configuration>
